*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata';
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

body{

}

.wrapperm{
    width: 100%;
    height: 300vh;
    background: #1F1E1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width:1120px){
        height: 450vh;

    }

    @media (max-width:670px){
        height: 400vh;

    }
    @media (max-width:455px){
        height: 450vh;

    }


}



.nav{
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    @media (max-width:1120px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (max-width:670px){
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;      
        align-items: center;

    }

    .hx{
        width: 36px;
        display: flex;
        justify-content: center;
        align-items: center; 
        visibility: hidden;

        @media (max-width:670px){
        visibility: visible;
    }

    .exit{
        visibility: hidden;
    }

    }

    .hamburger{
        position: absolute;
    }

    .menu{
        @media (max-width:670px){
            display: none;
        }


        ul{
            
        width: 532px;
        height: 80px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .about{
            color: #FF8303;
    
        }

        a{
            font-weight: 700;
            font-size: 20px;
            line-height: 21px;
            color: #F0E3CA;
        }
    }
    }

    .nlogo{
        width: 100px;
        height:30px;
    }

}

.main{
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width:1120px) {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    @media (max-width:670px) {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    @media (max-width:455px) {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    

    }


.bg{

    width: 600px;

    @media (max-width:670px){
        width: 400px;
    }

    @media (max-width:455px){
        width: 300px;
    }
}

    .namJob{
        
        width: 448.25px;
        height: 178.5px;

        @media(max-width:670px){
            
            width: 350.25px;
            height: 178.5px;
        }
        @media(max-width:455px){
            
            width: 300px;

        }

    }

    .name{
        

        font-weight: 900;
        font-size: 64px;
        line-height: 67px;
        color: #FF8303;

        @media(max-width:670px){
            
            font-size: 45px;
        }

    }

    .job{

        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        color: #F0E3CA; 

        @media(max-width:670px){
            
            font-size: 30px;
        }

    }
    
    .jobInfo{

        font-weight: 400;
        font-size: 20px;
        line-height: 21px;
        color: #F0E3CA;

        }
}







    .sec1{
    width: 80%;
    height: 228.79px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:670px){
        width: 80%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    @media (max-width:455px) {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }


    .logo{

    height: 72px;
    width: 71px;

    }
    
    .logoInfo{
        width: 90%;
        height: 76px;
        font-weight: 400;
        font-size: 24px;
        line-height: 25px;
        color: #F0E3CA;

        @media (max-width:670px){
            width: 80%;
            height: 200px;
    
        }
        @media (max-width:455px) {
            height: 500px;
    
        }

    }

    }

.sec2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 494px;
    width: 100%;


    @media (max-width:1120px){
        height: 1000px;

    }

    @media (max-width:670px){
        height: 500px;

    }



    
    .mySkills{
        font-weight: 700;
        font-size: 32px;
        line-height: 34px;
        text-align: center;
        color: #FF8303;
    }

    .prog{
        width: 1080px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        @media (max-width:1120px){
            width: 640px;
            height: 800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: space-evenly;
            gap: 20px;

        }

        @media (max-width:670px){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 380px;


        }



        .d{
            width: 200px;
            height: 300px;
            background: #161613;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;


            @media (max-width:670px){
                width: 280px;
                height: 60px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

            }

            svg{

                @media (max-width:670px){
                    width: 32px;
                    height: 32px;
    
                }
            }


            h1{
                font-weight: 400;
                font-size: 32px;
                line-height: 37px;
                color: #FFFFFF;

                @media (max-width:670px){
                    width: 160px;
                    font-size: 24px;
    
                }
            }

        }


    }

}

.wrapInfo{
    width: 320px;
    height: 320px;
    position: absolute;
    background-color: rgba(29, 33, 31, 0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.bloghead{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    color: #FF8303;

}

.sec3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 537.91px;
    width: 1000px;

    @media (max-width:1120px){
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 1100px;
    }
    


    .blogrec{
        width: 200px;
        height: 3px;
        background-color: #FF8303;
    }

    .b{
        cursor: pointer;
        

        .wrapInfo{
            visibility: hidden;
            transform: translate( -20px, 0%);
            opacity: 0;
        }
    
    }

    .b:hover{
    
        .wrapInfo{
            visibility: visible;
            transform: translate(0px, 0%);
            transition: 0.2s;
            opacity: 1;
        }

    }

    .blogpar{
        width: 219px;
        height: 85px;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: #F0E3CA;

    }

    .blogp{
        font-weight: 500;
        font-size: 16px;
        line-height: 17px;
        color: #F0E3CA;
    }

    .blogbut{
        color:#F0E3CA;
        width: 110px;
        height: 39px;
        background: #32312E;
        border-radius: 4px;
        border: none;
    }

    .blogimg{
        width: 320px;
        height: 320px;
        
    }

    .wrapper2{
        height: 320px;
        width: 1000px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width:1120px){
            width: 320px;
            height: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

    }


    .myWorks{
        font-weight: 700;
        font-size: 32px;
        line-height: 34px;
        text-align: center;
        color: #FF8303;
    }

    .blog1{
        width: 320px;
        height: 320px;
    }

    
    }
    





.footer{
    width: 80%;
    height: 274px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width:1080px){
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    @media (max-width:670px){
        height: 600px;

    }
    

        .nlogoInfo{
            width: 213px;
            height: 146px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: 400;
            font-size: 20px;
            line-height: 21px;
            color: #F0E3CA;

            
            
        }

        .contactsInfo{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 146px;

            @media (max-width:670px){
                width: 100%;
                height: 250px;
                align-items: center;
        
            }
            
            p{
                font-weight: 400;
                font-size: 24px;
                line-height: 25px;
                color: #FF8303;
                padding: 0 10px;
            }
            h1{
                font-weight: 700;
                font-size: 32px;
                line-height: 34px;
                color: #FF8303;
            }
            .wrapperfoot{
                width: 384px;
                height: 80px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @media (max-width:670px){
                    width: 300px;
                    height:180px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
            
                }

                p{
                    @media(max-width:670px){
                        width: 200px;
                    }
                }

                .ukm{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    

                    @media (max-width:670px){
                        width: 250px;
                        height:80px;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: space-between;
                
                    }
                }
                .gitFig{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    @media (max-width:670px){
                        height:80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                
                    }
                }

            }

            .mail{
                display: flex;
                flex-direction:row; 
            }
            .uk{
                display: flex;
                flex-direction:row; 
            }
            .gitIc{
                display: flex;
                flex-direction:row; 
            }
            .figmaIc{
                display: flex;
                flex-direction:row; 
            }

        }

    


}


.html:hover{
    transform: translateY(-5%);
    cursor: pointer;

    .imgHtml{
        fill:#FC490B;
        cursor: pointer;
    }
}



.css:hover{
    transform: translateY(-5%);
    cursor: pointer;

    .imgCss{
        fill:#2965f1;
        cursor: pointer;
    }
}


.js:hover{
    transform: translateY(-5%);
    cursor: pointer;

    .imgJs{
        fill:#F0DB4F;
        cursor: pointer;
    }
}

.scss:hover{
    transform: translateY(-5%);
    cursor: pointer;

    .imgScss{
        fill:#cc6699;
        cursor: pointer;
    }
}

.git:hover{
    transform: translateY(-5%);
    cursor: pointer;

    .imgGit{
        fill:#f34f29;
        cursor: pointer;
    }
}


